*~
*.o
*.a
*.lo
*.la
*.dvi
*.synctex.gz
.deps
.libs
autom4te.cache/
Makefile
Makefile.in
aclocal.m4
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
lib/libmapdiff.pc
libtool
ltmain.sh
missing
mkinstalldirs
po/Makefile.in.in
po/POTFILES
po/stamp-it
stamp-h1
include/version.h
.emacs.desktop
nbproject
config.guess.dh-orig
config.sub.dh-orig
debian/libmapdiff*
debian/files
debian/tmp
INSTALL
